In [1]:
import pandas as pd
import numpy as np
import pyarrow as pa
import pyarrow.parquet as pq
import matplotlib.pyplot as plt

In [4]:
parquet_file = 'C:/Users/USER/OneDrive - postech.ac.kr/바탕 화면/LG/postech_company_project.parquet'
# Parquet 파일 열기
table = pq.read_table(parquet_file)

# Table에서 데이터를 DataFrame으로 변환
df = table.to_pandas()
df.head()

,YEAR_YYYY,MONTH_YYYYMM,WEEK_YYYYWWW,RECLAIM_PERIOD,SUBSIDIARY_NAME,CAPTIVE_CHANNEL_FLAG,COMPANY_CODE,DIVISION_NAME,MODEL_CODE,PARTS_NO1,...,KEY_PARTS_REMARK3,KEY_PARTS_REMARK4,KEY_PARTS_REMARK5,PREV_KEY_PARTS_REMARK1,PREV_KEY_PARTS_REMARK2,PREV_KEY_PARTS_REMARK3,PREV_KEY_PARTS_REMARK4,PREV_KEY_PARTS_REMARK5,MULTICLAIM,PREV_RECEIPT_SYMPTOM
0,2022,202201,2022W05,47.0,LGEAI,Non Captive,HE,LTV,OLED65C7P,LGE_PARTS_993,...,Power,None,None,None,None,None,None,None,2,Power
1,2022,202201,2022W03,10.0,LGEAI,Non Captive,HE,LTV,65UN6955ZUF,LGE_PARTS_4492,...,None,None,None,Main,None,None,None,None,2,Audio
2,2022,202201,2022W05,30.0,LGEAI,Non Captive,HE,LTV,50UN7300AUD,LGE_PARTS_15608,...,None,None,None,Main,None,None,None,None,2,Power
3,2022,202201,2022W02,39.0,LGEAI,Non Captive,HE,LTV,70UP7070PUE,LGE_PARTS_9199,...,None,None,None,Power,Main,None,None,None,2,Power
4,2022,202201,2022W03,5.0,LGEAI,Non Captive,HE,LTV,OLED77CXAUA,LGE_PARTS_15413,...,None,None,None,None,None,None,None,None,2,Power

In [5]:
df['DIVISION_NAME']

0                    LTV
1                    LTV
2                    LTV
3                    LTV
4                    LTV
                ...
14196328    RAC DIVISION
14196329    RAC DIVISION
14196330    RAC DIVISION
14196331    RAC DIVISION
14196332    RAC DIVISION
Name: DIVISION_NAME, Length: 13881284, dtype: object

In [6]:
df['DIVISION_NAME'].value_counts()

DIVISION_NAME
W/M                  3914585
REF                  3067318
RAC DIVISION         2925735
LTV                  2631830
Cooking               593183
HEALTHCARE            286452
Commercial TV         152736
Dishwasher            119851
AV                     60035
MNT                    53706
Signage                50764
CAC DIVISION            9687
PC                      3881
VCC                     3254
PTV                     2749
Air Care                2430
CRT TV                  2256
Projector                821
PDP Hotel TV               3
SECURITY                   3
CHILLER AC                 2
<N/A>                      2
Refrigerator Comp          1
Name: count, dtype: int64

In [15]:
# 'DIVISION_NAME', 'PRODUCT_NAME', 'PRODUCT_NAME_DETAIL'을 기준으로 데이터를 그룹화합니다.
grouped_data = df.groupby(['DIVISION_NAME', 'PRODUCT_NAME', 'PRODUCT_NAME_DETAIL'])

# 각 그룹에 속하는 데이터의 개수를 확인합니다.
grouped_counts = grouped_data.size().reset_index(name='Count')
grouped_counts=grouped_counts[::-1]
grouped_counts= grouped_counts.reset_index(drop=True)

# 결과를 출력합니다.
grouped_counts

    DIVISION_NAME    PRODUCT_NAME               PRODUCT_NAME_DETAIL    Count
0             W/M  Clothes Washer  Clothes Washer_Twin Tub_Pulsator   480710
1             W/M  Clothes Washer    Clothes Washer_Twin Tub_Manual     3985
2             W/M  Clothes Washer         Clothes Washer_Turbo Drum  1932741
3             W/M  Clothes Washer     Clothes Washer_Pulsator(Auto)    73075
4             W/M  Clothes Washer          Clothes Washer_Mini Wash     1821
..            ...             ...                               ...      ...
624            AV           DVD-P                   DVD-P+2.1CH SPK        1
625            AV           DVD-P               DVD-P 5Disc Step-Up        1
626            AV           DVD-P               DVD-P 1Disc Step-Up        1
627            AV           DVD-P                       DVD-P 1Disc      129
628         <N/A>           <N/A>                             <N/A>        2

[629 rows x 4 columns]

# 전처리2

In [6]:
df = pd.read_excel('C:/Users/USER/OneDrive - postech.ac.kr/바탕 화면/LG/csv파일/제품 세분화.xlsx')
df

,DIVISION_NAME,PRODUCT_NAME,PRODUCT_NAME_DETAIL,Count
0,"W/M\n(3,914,585)","Clothes Washer\n(3,831,374)",Clothes Washer_Twin Tub_Pulsator,480710
1,NaN,NaN,Clothes Washer_Twin Tub_Manual,3985
2,NaN,NaN,Clothes Washer_Turbo Drum,1932741
3,NaN,NaN,Clothes Washer_Pulsator(Auto),73075
4,NaN,NaN,Clothes Washer_Mini Wash,1821
...,...,...,...,...
624,NaN,DVD-P\n(132),DVD-P+2.1CH SPK,1
625,NaN,NaN,DVD-P 5Disc Step-Up,1
626,NaN,NaN,DVD-P 1Disc Step-Up,1
627,NaN,NaN,DVD-P 1Disc,129
628,<N/A>(2),<N/A>(2),<N/A>,2